{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", 200],
    "require-jsdoc": "off",
    "no-console": "off",
    "comma-dangle": "off"
  }
}
