{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      200
    ],
    "require-jsdoc": "off",
    "no-console": "off",
    "comma-dangle": "off"
  }
}
